* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, sans-serif;
}
.title {
  width: 100%;
  text-align: center;
}
/*flexbox formatting*/
.holder {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  border: 2px solid #e4e5f1;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #e5e5e5;
}
.weatherParent {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  border: 2px solid #e4e5f1;
  border-radius: 20px;
  margin-top: 20px;
}
.weatherHolder {
  padding: 20px;

  padding: 50px;
  width: 75%;
}
.newsHolder {
  padding: 50px;
  width: 75%;
}
.buttonHolder {
  width: 75%;
  text-align: center;
}

.topicHolder p {
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  padding: 15px 20px;
}

.topicHolder p {
  border: 1px solid red;
  border-radius: 20px;
  margin: 10px;
}

.topicHolder p:hover {
  background-color: black;
  color: white;
}

.happyPic {
  width: 500px;
}
.newsLink {
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}

a {
  text-decoration: none;
  color: black;
  padding: 20px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  padding: 20px;
}
div h3 {
  text-align: center;
  padding: 20px;
}

button {
  padding: 25px;
  font-family: "Times New Roman", serif;
}
